.csym019{
    float:left;
    display:block;
    width: 50%;
    background-color: burlywood;
    
    
}

.csym015{
    float:left;
    display: block;
    width: 50%;
    background-color: aquamarine;    
}

.csym016{
    float:left;
    display: block;
    width: 50%;
    background-color: cornflowerblue;
    
    
}

.csym017{
    display: block;
    width: 50%;
    background-color: dimgray;
    float: left;
    
}